body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

/* GRID LAYOUT */
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 120px; /* adjust this */
}

/* VIDEO CARD */
.video-card {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.video-card:hover{
  transition: 0.4s;
  box-shadow: 1px 1px 10px black;
}

.text{
  padding-top: 10px;
  display: block;
  justify-items: center;
  margin-left: 3px;
}

/* THUMBNAIL */
.thumbnail {
   width: 90%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}


/* INFO SECTION */
.video-info {
  display: flex;
  margin-top: 10px;
}

/* PROFILE IMAGE */
.profile {
  width: 36px;
  height: 36px;
  padding-top: 10px;
  border-radius: 50%;
  margin-right: 10px;
  padding-left: 20px;
}

/* TEXT */
.text h3 {
  font-size: 14px;
  margin: 0;
  line-height: 18px;
}

.text p {
  font-size: 12px;
  color: #606060;
  margin: 4px 0 0;
}

