body {
  font-family: Arial, sans-serif;
}

#query {
  position: absolute;
  width: 300px;
  height: 90px; 
  padding: 10px;
  border-radius: 6px;
  top: 20px;
  left: 40%;
  border: none;
}

/* Navbar */
.Navbar {
  background-color: blue;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */
}


.search{
    height: 70px;
}


.Navbar{
    position: absolute;
    justify-items: center;
    background-color: blue;
    height: 10%;
    width: 100%;
}

.Markiplier{
    position: absolute;
    top: 20%;
}

