body{
    background-color: gray;
}

.grid-container {
    position: absolute;
    top: 20%;
    left: 8%;
    display:flex;
    grid-template-columns: 200px 200px 200px;
    
}

.items{
    border: solid black 2px;
    height: 300px;
    padding: 90px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-items: center;
    display: grid;
}

.itemss{
     border: solid black 2px;
    height: 300px;
    padding: 90px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-items: center;
    display: grid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.itemsss{
     border: solid black 2px;
    height: 300px;
    padding: 90px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-items: center;
    display: grid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

