body {
  font-family: Arial, sans-serif;
}

/* Search bar */
#query {
  width: 400px;
  height: 40px;      
  padding: 0 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

/* Navbar */
.Navbar {
  background-color: blue;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */
}


.search{
    height: 70px;
}

.Inter{
    position: absolute;
    top: 20%;
    border-radius: 5px;
    margin-left: 15px;
}

.Inter:hover{
  box-shadow: 1px 1px 5px black;
  transition: 0.4s;
}

.prof1{
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 36px;
  left: 17px;
  background-color: black;
  top: -20px;
}

.Intv{
  height: 200px;
  padding: 15px;
}

.Inter .parag1{
  position: relative;
  left: 60px;
  bottom: 70px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;

}

.Inter .paragg1{
  position: relative;
  left: 60px;
  bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: block;
}

.Markiplier{
   position: absolute;
    top: 20%;
    border-radius: 5px;
    margin-left: 500px;
}

.marki{
   height: 200px;
  padding: 15px;
}





