body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container{
  position: absolute;
    top: 10%;
    left: 30.5%;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    grid-template-areas: 
    "box-1 box-2 box-3"
    "box-4 box-5 box-6"
    "box-7 box-8 box-9";
    padding: 10px;
    gap: 1em;

}

.items{
    background-color: #3498db;
    border-radius: 8px;

    
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */
    text-align: center;
    
}

.items:hover span {
    transform: scale(1.2); /* text grows on hover */
    color: pink;            /* text color changes */
}

.items:hover{
    box-shadow: 2px 2px 10px 5px rgb(56, 48, 48);
}