body {
  font-family: Arial, sans-serif;
}

/* Search bar */
#query {
  width: 400px;
  height: 40px;      
  padding: 0 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

/* Navbar */
.Navbar {
  background-color: blue;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */
}


.search{
    height: 70px;
}

.Markiplier{
    position: absolute;
    top: 20%;
    background-color: blue;
    border-radius: 5px;
    margin-left: 15px;
}

.Marky{
  height: 200px;
  padding: 15px;
}

