body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

/* GRID LAYOUT */
.video-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* VIDEO CARD */
.video-card {
 
  cursor: pointer;
  padding: 10px;
  
}

.video-card:hover{
  transition: 0.4s;
  box-shadow: 1px 1px 10px black;
}

.text{
  padding-top: 10px;
}

/* THUMBNAIL */
.thumbnail {
  width: 100%;
  border-radius: 10px;
}

/* INFO SECTION */
.video-info {
  display: flex;
  margin-top: 10px;
}

/* PROFILE IMAGE */
.profile {
  width: 36px;
  height: 36px;
  padding-top: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

/* TEXT */
.text h3 {
  font-size: 14px;
  margin: 0;
  line-height: 18px;
}

.text p {
  font-size: 12px;
  color: #606060;
  margin: 4px 0 0;
}

