body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Desktop layout */
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 180px);
    grid-template-areas: 
        "box-1 box-1 box-2"
        "box-1 box-1 box-3"
        "box-4 box-5 box-6"
        "box-7 box-8 box-9";
    gap: 1em;
    padding: 20px;
    max-width: 800px;   /* prevents wide stretching */
    margin: 50px auto;
}

.items{
    background-color: #3498db;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Hover effects */
.items span{
    transition: 0.3s ease;
}

.items:hover span {
    transform: scale(1.2);
    color: red;
}

.items:hover{
    box-shadow: 2px 2px 10px 5px rgb(56, 48, 48);
}

/* Phone */
@media (max-width: 500px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 140px);
        grid-template-areas:
            "box-1"
            "box-2"
            "box-3"
            "box-4"
            "box-5"
            "box-6"
            "box-7"
            "box-8"
            "box-9";
        max-width: 95%;
    }
}

@media (max-height: 300px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 140px);
        grid-template-areas:
            "box-1"
            "box-2"
            "box-3"
            "box-4"
            "box-5"
            "box-6"
            "box-7"
            "box-8"
            "box-9";
        max-width: 95%;
    }
}