body{
    background-color: gray;
}

.grid-container {
    position: absolute;
    top: 20%;
    left: 15%;
    display:flex;
    grid-template-columns: 150px 150px 150px;
    
}

.items{
    height: 300px;
    width: 70px;
    background-color: white;
    padding: 50px;
    border:solid black 1px;

    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.itemss{
    height: 300px;
    width: 70px;
    background-color: white;
    padding: 50px;
    border:solid black 1px;

    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: orange;
}
