body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

/* GRID LAYOUT */
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr)); /* responsive columns */
  gap: 20px;
  justify-items: center;
  margin-top: 150px;
}

/* VIDEO CARD */
.video-card {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  padding:10px;
}

.video-card:hover {
  transition: 0.4s;
  box-shadow: 1px 1px 10px black;
}

/* THUMBNAIL */
.thumbnail {
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* VIDEO INFO */
.video-info {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
}

/* PROFILE IMAGE */
.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

/* TEXT */
.text h3 {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.text p {
  margin: 4px 0 0;
  font-size: 12px;
  color: #606060;
}
