body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container{
    position: absolute;
    top: 50px;
    left: 25.5%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
        "box-1 box-1 box-1"
        "box-4 box-5 box-2"
        "box-7 box-8 box-2";
    gap: 1em;
    padding: 20px;
}

.items{
    background-color: #3498db;
    border-radius: 8px;
}

.items:hover{
    box-shadow: 2px 2px 50px 5px rgb(255, 10, 10);
}