body {
  font-family: Arial, sans-serif;
}




#query {
  position: absolute;
  width: 300px;
  height: 40px;   /* 👈 adjust this */
  padding: 10px;
  border-radius: 6px;
  top: 20px;
  left: 40%;
  border: none;
}


.Navbar{
    position: absolute;
    justify-items: center;
    background-color: blue;
    height: 10%;
    width: 100%;
}

.Markiplier{
    position: absolute;
    top: 20%;
}

