* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #0f0f0f;
}
.nav {
  background: white;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav div {
  width: 100%;
  height: 100px;
}
.left {
  background-color: red;
}
.center {
  background-color: blue;
}
.right {
  background-color: green;
}
